<h2>More example on templateOutlet</h2>
<div class="container">
  <app-weather-widget [headerTemplate]="altHeader" [contentTemplate]="altContent" [actionTemplate]="altAction">
  </app-weather-widget>
  <ng-template #altHeader>
    <div class="alt-header"> Today's weather </div>
  </ng-template>
  <ng-template #altContent let-state>
    <div>
      <span>🌡 {{state.data.temperature}}°C</span> - 
      <span>{{state.data.skyCondition === 'sunny' ? '☀️' : '☁️'}}</span> - 
      <span>🌬️ {{state.data.windspeed}}m/s</span>
    </div>
  </ng-template>
  <ng-template #altAction>
    <app-custom-weather-action></app-custom-weather-action>
  </ng-template>
</div>