main {
    height: 100vh;
    margin: 0 auto;
    width: 98%;
    background-color: #f7e1d7;
}

:host {
    background-color: #edafb8;
    display: flex;
}


nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
  }
  
  .active {
    font-weight: bold;
    text-decoration: underline;
  }